name: Pull Request CI

on:
  pull_request:
    branches: [ master ]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup and Test
        uses: ./.github/actions/setup-and-test
